/*mediaqueire para index.html*/
@media only screen and (min-width: 0px) and (max-width: 768px){

	/*inicio media aplicada a index.html mobile*/
	

/*inicio modificacion css header*/
.tituloLogo {
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
}

.tituloLogo h1 {
	margin: auto 0;
	font-weight: 500;
}

.tituloLogo a {
	margin: auto 0;
	text-decoration: none;
	color: black;
}

.navStyle {
  background-color: lightblue;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  }

.navStyle li {
	display: inline-block;
	font-size: 25px;
	padding: 20px;
}

.navStyle li a {
	color: black;
	text-decoration: none;
}

.navStyle1 li a:hover {
	color: red;
}

.navStyle1 {
	background-color: lightblue !important;
}
/*css img*/

.contentMediaIndex {
	border-radius: 15px;
	border-color: darkred;
	border: 2px solid;
	border-color: darkred;
	/*margin-left: 70px;*/
}

footer {
	background-color: lightblue;
}

.footerLogo {
	display: flex;
	justify-content: left;
	margin-right: 35px;
}

.navFooterStyle {
	font-size: 15px;
	display: flex;
	justify-content: start;
	margin-right: 35px;
}

.navFooterStyle ul {
	padding: 0;
}

.navFooterStyle ul li {
	list-style-type: none;
}

.navFooterStyle ul li a {
	text-decoration: none;
}


.footerStyleRss {
	margin-right: 35px;
}

.footerStyleRss ul {
	display: flex;
	padding: 0;
}

.footerStyleRss ul li {
	list-style-type: none;
	margin-right: 15px;
}

/*fin media mobile para index.html*/

/* etiqueta css de header y footer se aplica automaticamente al estar dentro de la media mobile*/

.agendaYconsultaForm {
  border: 3px solid darkcyan !important;
  border-radius: 4px !important;
}

}

/* FIN MEDIA MOBILE AGENDA Y CONSULTA HTML*/

/*INICIO MEDIA DESKTOP PARA INDEX HTML*/

@media only screen and (min-width: 1024px) {

body {
	font-family: roboto;
	margin: 0;
	padding: 0;
}
/*inicio de css boot index*/

/*clases aplicadas al index y agenda los cuales llevan bootstrap*/


.gridImgIndex {
	grid-area: img ;
  padding-left:50px;
}
.sideIndex {
	grid-area: sideIndex;
	padding-right: 50px;
}

.gridFooter {
	grid-area: footer;
}

/*inicio header*/

.header {
	grid-area: header;
}

.tituloLogo {
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
}

/*nav  boot*/ 

.navStyle1 {
  background-color: lightblue !important;
  }

 .color{
 	color: #b54747 !important;
 }

.navStyle1 li a:hover {
	color: #b54747 !important;
}

/* clase creada para centrar navbar de boot*/
.navCenter {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

.hoverFooter {
	text-decoration-color: black !important;
}
.hoverFooter:hover {
	color: #b54747 !important;
}
.contentMediaIndex {
	border-radius: 15px;
	border-color: darkred;
	border: 2px solid;
	border-color: darkred;
}

/*css sin boot para los demas html que no tienen aplicado bootstrap*/

.tituloLogoNoBoot
{
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
}

.tituloLogo h1 {
	margin: auto 0;
	font-weight: 500;
}

.tituloLogo a {
	text-decoration: none;
	color: black;
}
/*css sin boot*/
.tituloLogoNoBoot a {
	margin: auto 0;
	text-decoration: none;
	color: black;
}

.navStyleNoBoot {
	background-color: lightblue; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navStyleNoBoot li {
	display: inline-block;
	font-size: 25px;
	padding: 20px;
}

.navStyleNoBoot li a {
	color: black;
	text-decoration: none;
}

.navStyleNoBoot li a:hover {
	color: red;
	font-family: cursive;
}

/*CIERRE INDEX.HTML MEDIA*/

/*modificacion form agenda y consulta.html*/


.agendaYconsultaForm {
  border: 3px solid darkcyan !important;
  border-radius: 4px !important;
}


/* inicio guias.html*/

.parrafo1Y2 {
	margin-left: 30px;
	margin-right: 30px;
	justify-content: center;
}

.parrafo3 {
	margin-bottom: 50px;
	margin-right: 30px;
	margin-left: 30px;
	justify-content: center;
}

.parrafo3 div a {
	text-decoration: none;
}

.contentMediaImg {
	border-radius: 15px;
	border: 3px solid;
	border-color: darkred;
}

.contentMediaImgBottom {
	border-radius: 15px;
	border: 3px solid;
	border-color: darkred;
	margin-left: 10px;
}

.contentMedia {
	display: flex;
	justify-content: center;

}
.contentMediaImgEmpresa {
	border-radius: 100px;
	border: 3px solid;
	border-color: darkred;

}
/*iframe*/
.h3iframe {
	background-color: lightblue;
	padding: 10px 0;
	text-align: center;
	font-weight: 400;
	justify-content: center;
}
.contentMediaIframe {
	text-align: center;
}

.contentMediaGuias {
	display: flex;
	justify-content: center;

}

/*inicio footer*/
footer {
	background-color: lightblue;
}
/* etiqueta footer  para los html que no poseen bootstrap (guias, novedades y empresa)*/
.gridFooter {

	background-color: lightblue;
	margin-top: 40px;
	display: flex;
	justify-content: flex-start;
	padding: 0 100px;

}

.footerLogoNoBoot {
	display: flex;
	justify-content: left;
	margin-right: 35px;
}

.navFooterStyleNoBoot {
	font-size: 15px;
	display: flex;
	justify-content: start;
	margin-right: 35px;
}

.navFooterStyleNoBoot ul {
	padding: 0;
}

.navFooterStyleNoBoot ul li {
	list-style-type: none;
}

.navFooterStyleNoBoot ul li a {
	text-decoration: none;
}


.footerStyleRssNoBoot {
	margin-right: 35px;
}

.footerStyleRssNoBoot ul {
	display: flex;
	padding: 0;
}

.footerStyleRssNoBoot ul li {
	list-style-type: none;
	margin-right: 15px;

}
/*CIERRE FOOTER*/
/*aplicada a los html con bootstrap index y agenda y consulta*/
.gradiente {
	background-image: linear-gradient(lightblue,white);
}

}
  /*CIERRE MEDIA DESKTOP*/
